@import "../settings/colors";
@import "../settings/fonts";

.yellowDiv{
  width: 100%;
  height: 150px;
  text-align: left;
  padding: 50px 80px;
  background-color: $yellow;
}
.bearDiv {
width: 100%;
  height: 600px ;
  background-image: url("../../assets/Background-Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .stepDiv {
    width: 50%;
    height: 650px;
    float: left;
    display: block;
    font-family: $font-base;
    color: $darksilver;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing:2px;
    line-height: 250%;
    text-align: left;
    button{
      background: transparent;
      text-transform: none;
      margin-top: 100px;
      width: 120px;
      height: 60px;
      font-size: 18px;
    }
  }
  .stepOne{
    padding: 40px 80px;
    text-align: left;
    display: block;
    input{
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
  }
  .stepTwo{
    display: block;
    text-align:left ;
    padding: 40px 0 40px 80px;
    font-weight: lighter;
    button{
      margin-top: 280px;
    }
    select{
      width: 200px;
      height: 50px;
      font-size: 18px;
      text-align: center;
      color: $silver;
      border: 1px solid $darksilver;
      background-color: #EEEDEE;
      option{
        background: transparent;
        width: 40px;
      }
    }
  }
  .stepThree{
    display: block;
    text-align: left;
    padding: 40px 80px;
    select{
      width: 200px;
      height: 50px;
      font-size: 18px;
      text-align: center;
      color: $silver;
      border: 1px solid $darksilver;
      background-color: #EEEDEE;
  }
    input{
      display: none;
    }
    label{
      display: inline-block;
      border: 1px solid $darksilver;
      text-align: center;
      padding: 5px;
      margin: 15px;
      line-height: 30px;
      cursor: pointer;
    }
    #dzieciom:checked ~ label[for ='dzieciom'],
    #samotnymMatkom:checked ~label[for ='samotnymMatkom'],
    #bezdomnym:checked ~ label[for ='bezdomnym'],
    #niepelnosprawnym:checked ~label [for='niepelnosprawnym'],
    #osobomStarszym:checked ~label [for='osobomStarszym']
    {
      background-color: $yellow;
    }
    button{
      margin-top: 20px;
    }
    textarea{
      background: none;
    }
  }
  .stepFour{
    display: inline-block;
    padding: 40px 80px;
    text-align: left;
    label{
      display: inline-block;
    }
  }
  .stepFive{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
.stepSix{
  padding-top: 200px;
  text-align: center;
}
}
