@import "../../scss/settings/colors";


.contactFooter {
  height: 30px;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
 ;



  .copyrightText{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 600px;


  }
  .logo{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;




    .facebook{

      background: url("../../assets/Facebook.svg") no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;

    }
    .instagram {
      background: url("../../assets/Instagram.svg") no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;
      margin-left: 10px;
    }
  }
}