@import "../../scss/settings/colors";


.contactFooter {
  height: 30px;
  width: 100%;
  color: $silver;
  display: flex;;
  justify-content: space-between;
 ;
  padding-top: 760px;




  .copyrightText{
    //display: flex;
    //justify-content: space-between;
   // align-items: flex-end;
    margin-left: 650px;
    font-size: 12px;
    margin-bottom: 10px;


  }
  .logo{
    display: flex;
    margin-right: 45px;




    .facebook{

      background: url("../../assets/Facebook.svg") no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;

    }
    .instagram {
      background: url("../../assets/Instagram.svg") no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;
      margin-left: 10px;
    }
  }
}