@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/reset";
.redBorder{

  height: 600px;
}

.clothesImage {
width: 50%;
  height: 600px;
  float: left;
  background-image: url("../../assets/Form-Hero-Image.jpg");
  background-repeat: no-repeat;

  background-size: contain;
  padding-left: 10px;
  box-sizing: border-box;
}
.rightDiv{
  width: 50%;
  height: 600px;
  float: right;
  padding-right: 10px;



  .steps4{
    text-align: center;

    height: 400px;
    color: $silver;
    padding-top: 20px;
    padding-right: 80px;
    h2{
     color: $darksilver;
      font-size: 28px;
    }
    h3{
      font-family: $font-base;
      font-weight: lighter;
      font-size: 24px;

    }


    .step{
      width: 100px;
      height: 100px;
      border: 1px solid $silver;
      display: inline-block;
      transform: rotate(45deg);
      padding: 10px;
      margin: 10px;
      p{
        transform:rotate(315deg);
        text-align: center;
        font-size: 16px;

      }


    }

  }
}