@import "../settings/fonts";
@import "../settings/colors";

.decoration {
  height: 30px;
  background-image: url("../../assets/Decoration.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 25px;
  color: $silver;
}
h2{
  margin: 0 25px;
  color: $silver;
}
.fourSteps{
  background-color: $white;
  color: $darksilver;
  height: 250px;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: $font-base;
  font-size: 15px;
  .numberStep{
    width: 15%;
    padding: 40px;
    hr{
      background: gray;
      width: 20%;
     padding: 0 30%;
    }

    .image1{
      background-image: url("../../assets/Icon-1.svg");
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .image2{
      background-image: url("../../assets/Icon-2.svg");
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .image3{
      background-image: url("../../assets/Icon-3.svg");
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .image4{
      background-image: url("../../assets/Icon-4.svg");
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

}
button {
  border: 1px solid grey;
  height: 90px;
  width: 220px;
  background-color: white;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  justify-content: space-between;
  margin: 15px;
  align-items: center;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
  }
}