.yellowContainer{
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  background-color:#FAD648 ;
.column{
  width: 25%;
  justify-content: center;
  border: 1px solid red;
}



;
}